<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
  <p>후기 번호: {{ article.pk }}</p>
  <p>후기 제목: {{ article.title }}</p>
  <p>후기 내용: {{ article.content }}</p>
  <p>영화 제목: {{ article.movie }}</p>
 <!-- <p>작성일: {{ article.created_at }}</p>
  <p>수정일: {{ article.updated_at }}</p> -->
  <form action="{% url 'articles:delete' article.pk  %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <!-- <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a> -->
  <a href="{% url 'articles:index' %}">[back]</a>

  <hr>


  <form action ="{% url 'articles:comment_create' article.pk %}" method = "POST">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type = "submit" value ="댓글 작성">
  </form>
  <ul>
    {% for comment in comments %}
    <li>{{ comment.content }}
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>    
    </li>
    {% endfor %}
  </ul>
  <hr>
</body>
</html>
